html{
    scroll-behavior:smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Montserrat",sans-serif;
}

photos{
    width: 100;    
}

section{
    padding: 100px 0;
}

.section.title{
    margin-bottom: 30px; ;
}

.section.title h2{
    position: relative;
    text-align: center;
    color: #ffff;
    font-size: 15px;
    transition: all.5s ease-in-out;
}

.section.title h2:hower{
    background-color: #24CAAC;
}

/*-------HEADER-------*/
header{
    background: rgb(44, 37, 37);
    border-bottom: 1px solid rgba(238, 238, 238, 0.801);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.nav_links{
    display: flex;
}

.nav_links li a{
    font-size: 25px;
    margin-left: 20px;
    color: #ffff;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all.5s ease-in-out;
}

.nav_links li a:hover{
    background: #24CAAC;
}
/*------------------Logo--------------------*/
.logo h2 a {
    font-size: 35px;
    color: #ffff;
    text-transform: uppercase;
}

 .logo h2 a span:last-child {
    color: #DA3F19;
  }

/*------------------Home page--------------------*/

.inner_homepage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    color: #ffff;
}
.child_homepage{
    flex-basis: 45%;
}

.child_homepage h1{
    font-size: 50px;
    color: #24CAAC;
}
.child_homepage h3{
    color: #24CAAC;
    font-size: 30px;

}
.child_homepage p{
    font-size: 25px;
    margin-bottom: 55px;
}

.btn{
    font-size: 25px;
    background: #24CAAC;
    padding: 18px 24px;
    border-radius: 20px;
    color: #ffff;
    border: 1px solid #24CAAC;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover {
    background: transparent;
    transform: scale(1.1); /* Resmin üzerine gelindiğinde büyütme efekti ekler */
    transition: transform 0.3s; /* Geçiş süresi ekler */
}

.styled-image {
    width: 600px; /* Genişliği 300 piksel olarak ayarla */
    height: auto; /* Yüksekliği otomatik olarak ayarla (oranını korur) */
    border-radius: 3%; /* Resmi dairesel yapar */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* 10x10 piksel ofsetli, 20 piksel bulanık gölge ekler */
    opacity: 0.9; /* Resmi %80 opak yapar */
}

.image-container {
    display: flex;
    justify-content: center; /* Yatayda merkezler */
    align-items: center; /* Dikeyde merkezler */
    height: 100vh; /* Yüksekliği tam ekran yapar */
}

body {
    background: url('/Photos/backgroud1.avif');
    background-size: cover; /* optional */
}